# Mengabaikan semua file javascript dan testing agar tidak dihitung di statistik bahasa GitHub
*.js linguist-vendored
*.js linguist-generated
**/*.js linguist-vendored
test/performance/** linguist-vendored
test/** linguist-vendored
